@include desktop-up {
  main {
    align-items: center;

    .leftSide {
      &.half {
        text-align: left;
        width: 70vw;
        @include easeOut;
      }
    }

    .lg-heading {
      font-size: 6.5vw;
      line-height: 1;
      margin-bottom: 1rem;
    }
    .sm-heading {
      font-size: 1.8vw;
    }
    .univ-info {
      font-size: 1.6vw;
    }
  }
  #about {
    overflow: hidden;
    .contain {
      .bio {
        .heads {
          flex-basis: 100%;
          height: auto;
          .headshot {
            &.wide-only {
              &.guitar-pic {
                display: none;
              }
            }
          }
        }
        .bio-text {
          align-self: center;
        }
      }
    }
  }
  #my-projects {
    .contain {
      .projects {
        padding: 0.5rem;
        margin-left: 0;
        font-size: 0.95rem;
        .project {
          flex-basis: 30% !important;
          margin-left: 0;
          padding: 0.5rem;
          .headshot {
            height: 15vw !important;
            width: 100%;
          }
        }
        .project1 {
        }
      }
    }
  }
}
@include tablet-landscape-up {
  main {
    align-items: center;

    .lg-heading {
      font-size: 70px;
      line-height: 1;
      margin-bottom: 1rem;
    }
  }
  .menu-nav {
    margin-top: 28vh;

    .noPhone {
      font-size: 0.8 rem;
    }
  }
  #about {
    overflow: auto;
    width: 100%;
    height: auto;
    .contain {
      margin: 5rem 0 0 2.5%;
      height: auto;
      .bio {
        display: grid !important;
        grid-template-columns: 40% 60%;
        align-content: center;
        .bio-text {
          font-size: 1.25rem;
          font-weight: 400;
          p {
            margin-top: 0;
          }
        }
        .bottom-text {
          font-size: 1.25rem;
          font-weight: 400;
          padding: 0 1rem 0 1rem;
          text-align: justify;
          grid-column: 1 /-1;
        }
        .heads {
          margin-right: 1rem;
          align-self: center;
          .headshot {
            height: auto;
            width: 100%;
            align-content: center;
            left: 1rem;
            &.wide-only {
              display: unset;
              top: 0;
              padding: 1rem;
            }
            &.narrow-only {
              display: none;
            }
          }
        }
      }
    }
  }
  #my-projects {
    .contain {
      .projects {
        padding: 0.5rem;
        margin-left: 0;
        font-size: 0.95rem;
        .project {
          flex-basis: 45%;
          margin-left: 0;
          padding: 0.5rem;
          .headshot {
            height: 30vw;
            width: 100%;
          }
        }
        .project1 {
        }
      }
    }
  }
}
@include tablet-portrait-only {
  main {
    align-items: center;
    text-align: center;
    margin-bottom: -1rem;
    .leftSide {
      margin-top: -5vw;
    }
    .lg-heading {
      margin-top: 15vh !important;
      font-size: 4.25rem;
      line-height: 1;
      margin-bottom: 2rem;
    }
    .sm-heading {
      font-size: 1.8rem;
      margin-left: 0;
    }
    .univ-info {
      margin-left: 0;
      margin-bottom: 2.25rem;
      font-size: 1.4rem;
    }
    .icons {
      margin-left: 1.8rem;
    }
  }
  .menu {
    left: 0;
    width: 100%;
    height: 100%;
    top: 60vh;
    height: 40vh;
    vertical-align: middle;
    transform: translate3d(100%, 0%, 0);
  }
  .menu-nav {
    margin: -3vw;
    transform: translate3d(0%, 0, 0);
    margin-top: 3vh;
    .noPhone {
      visibility: hidden;
    }
  }
  .nav-item {
    margin-left: -45px;
  }
  .m-menu {
    &.m-ab {
      .icons {
        margin-left: 0;
      }
    }
  }
  //About
  #about {
    background: linear-gradient(
      180deg,
      rgba(44, 50, 55, 0) 0%,
      rgba(19, 21, 23, 1) 30%
    );

    .contain {
      width: 100vw;
      margin-left: 0.6rem;
      margin-top: 5rem;
      align-self: center;

      .bio {
        width: 95%;
        margin-top: -0rem;
        margin-left: -1.5rem;
        flex-direction: column;

        .heads {
          .headshot {
            margin-left: 0.5rem;
            padding: 2rem;
            &.wide-only {
              display: none;
            }
          }
        }
        .bio-text {
          padding: 0 2.5rem 2.5rem 2.5rem;
          font-weight: 400;
          font-size: 1.3rem;
        }
      }
    }
  }
  #my-projects {
    .contain {
      .projects {
        padding: 0.5rem;
        margin-left: 0;
        font-size: 0.95rem;
        .project {
          flex-basis: 45%;
          margin-left: 0;
          padding: 0.5rem;
          .headshot {
            height: 30vw;
            width: 100%;
          }
        }
        .project1 {
        }
      }
    }
  }
}
@include phone-portrait-only {
  main {
    text-align: center;
    .noPhone {
      visibility: hidden;
    }

    .leftSide {
      height: auto;
      width: 90vw;
      margin-top: -3vh;
      margin-left: -2.5rem;
      .lg-heading {
        font-weight: 600;
        font-size: 12vw;
        margin-bottom: 2rem;
      }
      .sm-heading {
        font-size: 5vw;
        margin-bottom: 1.2rem;
      }
      .univ-info {
        font-size: 4vw;
        margin-bottom: 3rem;
      }
      .icons {
        a {
          .fa-2x {
            font-size: 2.2em;
          }
        }
      }
    }
  }
  .m-menu {
    &-btn {
      &.close {
        padding: 2vw;
        // margin-left: 10px;
        // bottom: 2.4vh;
      }
    }
    &.show {
      visibility: visible;
    }
    .icons {
      margin-bottom: 1.5vh;
      a {
        margin: 0 4vw 0 7vw;
      }
    }
  }
  .menu {
    &-btn {
      visibility: hidden;
    }
    &.show {
      visibility: hidden;
    }
    .noPhone {
      visibility: hidden;
    }
  }
  .menu-nav {
    background-color: rgba(44, 50, 55, 0.95);
    height: 100vh;
  }
  .mobile-header {
    visibility: visible;
  }
  #main-header {
    background-color: rgba(44, 50, 55, 1);
    height: 2.4rem;

    .fix-name {
      font-size: 1.3rem;
    }
    .icons {
      visibility: hidden;
    }
  }

  .nav-item {
    transform: translate3d(600px, 0, 0);
    @include easeOut;

    &.show {
      transform: translate3d(0, 0, 0);
    }

    &.current > a {
      color: $secondary-color;
    }
  }

  .nav-link {
    display: inline-block;
    position: relative;
    font-size: 30px;

    padding: 1rem 0;
    font-weight: 300;
    color: #fff;
    text-decoration: none;
    @include easeOut;

    &:hover {
      color: $secondary-color;
    }
  }
  //About Page

  .bio-text {
    padding: 1.2rem;
    font-weight: 400;
    font-size: 0.9rem;
  }
  #about {
    background: linear-gradient(
      180deg,
      rgba(44, 50, 55, 0) 0%,
      rgba(19, 21, 23, 1) 30%
    );

    .contain {
      width: 100vw;
      margin-left: 0.6rem;
      margin-top: 5rem;
      align-self: center;

      .bio {
        width: 95%;
        margin-top: -2rem;
        margin-left: -1.5rem;
        flex-direction: column;

        .heads {
          .headshot {
            margin-left: 0.5rem;
            padding: 2rem;
            &.wide-only {
              display: none;
            }
          }
        }
        .bio-text {
          padding: 0 2.5rem 2.5rem 2.5rem;
          font-weight: 400;
          font-size: 1rem;
        }
      }
    }
  }
  #my-projects {
    .contain {
      .projects {
        padding: 0.5rem;
        margin-left: 0;
        font-size: 0.95rem;
        .project {
          flex-basis: 100%;
          margin-left: 0;
          padding: 0.5rem;
          .headshot {
            height: auto;
            width: 100%;
          }
        }
        .project1 {
        }
      }
    }
  }
  //Contact
  #contact {
    margin-left: 0rem;
    text-align: center;
    h2 {
      font-size: 1.5rem;
    }
    .title {
      margin-top: 10rem;
    }
    .contact-info {
      margin-top: 3rem;
    }
    h4 {
      font-size: 1rem;
    }
    .contact-icons {
      a {
        margin-right: 3rem;

        color: $secondary-color;
      }
      margin-left: 3rem;
      margin-top: 5rem;
    }
  }
}
@include small-phone {
  #home {
    .lg-heading {
      font-size: 12vw;
      line-height: 1.25;
      margin-bottom: 1rem;
    }
    .icons {
      margin-left: auto;
      width: 115%;
    }
    .sm-heading {
      margin-left: 0;
      font-size: 5.5vw;
    }
    .univ-info {
      margin-left: 0;
      font-size: 5vw;
    }
  }
  #about {
    .contain {
      .bio {
        width: 95vw;
        margin-left: -1rem;
        .heads {
          padding: 2vw 0 5vw 0;
          .headshot {
            width: 90%;
            left: 5%;
            padding: 0;
            margin-bottom: -0.75rem;
            &.wide-only {
              display: none;
            }
          }
        }
        .bio-text {
          padding: 0 6vw 0 6vw;
          font-weight: 400;
          font-size: 0.75rem;
          line-height: 1.4;
        }
      }
    }
  }
  #my-projects {
    .contain {
      .pro-title {
        margin-top: 10vh;
        margin-left: 5vw;
        font-size: 1.5em;
      }
      .projects {
        padding: 0.5rem;
        margin-left: 0;
        font-size: 0.85rem;
        .project {
          flex-basis: 100%;
          margin-left: 0;
          padding: 0.5rem;
          .headshot {
            height: 30vh;
            width: 100%;
          }
        }
      }
    }
  }
  .mobile-header {
    .m-menu-btn {
      padding: 15px;

      &.close {
        bottom: 4.25vh;
        padding: 0;
      }
    }
  }
  .m-menu {
    .icons {
      margin-bottom: 1.5vh;
      a {
        margin: 0 3vw 0 7vw;
      }
      .fa-2x {
        font-size: 1.75em;
      }
    }
  }
  #main-header {
    .fix-name {
      margin-left: 0;
    }
  }
}

// @include small-screen-phone-only {
//   #main-header {
//     .fix-name {
//       margin-left: 0;
//     }
//   }
//   #home {
//     padding: 2rem;
//     .icons {
//       margin-left: 0.9rem;
//     }
//     .leftSide {
//       width: 100vw;
//       margin-left: -2.1rem;
//     }
//   }

//   #about {
//     .contain {
//       margin-left: 0.75rem;
//       .bio {
//       }
//       .pro-title {
//         font-size: 2.5rem;
//         margin-left: -9.75rem;
//       }

//       .projects {
//         margin-left: 0;
//         .project {
//           padding: 1rem;
//         }
//         .headshot {
//           height: 14rem !important;
//         }
//       }
//     }
//   }
// }
